<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galvanize Reads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
    <div class="header">
        <img class="logo-image" src="./assets/Galvanize-Logo.jpg" alt="" width="50px">
        <div class="logo-text"><strong>Galvanize Reads</strong></div>
    </div>