<% include ./partials/header %>
    <div class="index">
        <div class="box">
            <a href="/authors">
                <img src="./assets/author-pen2.jpg" alt="" width="500px" height="400px">
                <div><strong>Authors</strong></div>
            </a>
        </div>
        <a href="/books">
            <div class="box">
                <img src="./assets/books-by-economist-writers-in-2017.jpg" alt="" width="500px" height="400px">
                <div><strong>Books</strong></div>
        </a>
        </div>

    </div>
    <% include ./partials/footer %>